﻿@using WebApplicationSistemaCableInternet.Models

@{
    ViewData["Title"] = "Listado de Planes y Servicios";
}


@if (ViewData["Mensaje"] != null)
{
    <div class="alert alert-@ViewData["Clase"]" role="alert">

        @ViewData["Mensaje"];
    </div>
}


<h2>Lista de Planes</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Plan</th>
            <th>Costo</th>
            <th>Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PlanServicio item in Model)
        {
            <tr>
                <th>@item.Servicio</th>
                <th>@item.Descripcion</th>
                <th>@item.Costo</th>
                <th>@item.Descuento</th>
                <td>
                    <a href='@Url.Action("Editar","PlanServicio", new { id = @item.PlanServicioId })' class="btn btn-warning">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
