﻿@model WebApplicationSistemaCableInternet.Models.Factura

@{
    ViewData["Title"] = "Crear";
}

<h4>Pagos</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Crear", "Factura", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h3>Cliente: @Model.Cliente?.Nombre @Model.Cliente?.Apellido</h3>
            <div class="align-self-lg-end">
                <input id="submitButton" type="submit" value="Guardar" class="btn btn-primary" />
            </div>

            <br />
            <div class="container row">

                <input asp-for="ClienteId" class="form-control" hidden />

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Serie" class="control-label"></label>
                        <input asp-for="Serie" class="form-control" />
                        <span asp-validation-for="Serie" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <p>Servicios Contratados: @Model.Servicios.Count</p>

            @foreach (var item in Model.Servicios)
            {
                <h4>Servicio: @item.TipoServicio @item.Descripcion, Costo: @item.Costo</h4>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <td>Descripción</td>
                            <td>Accciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pago in item.Pagos)
                        {
                            <tr>
                                <td>@pago.Nombre</td>
                                <td>
                                    <input type="checkbox" class="checkAll checkTable" name="detalles[]" value="@item.ServicioId-@pago.MesId">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
                <br />
            }
        }


    </div>
</div>

<div>
    <a asp-controller="Cliente" asp-action="Index">Volver al listado</a>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
