﻿@using WebApplicationSistemaCableInternet.Models

@{
    ViewData["Title"] = "Listado de Facturas";
}


@if (ViewData["Mensaje"] != null)
{
    <div class="alert alert-@ViewData["Clase"]" role="alert">
        @ViewData["Mensaje"];
    </div>
}


<h2>Lista de Facturas</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha Registro</th>
            <th>Codigo</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Descuento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Factura item in Model)
        {
            <tr>
                <th>@item.FechaCreacion.ToString("dd/MM/yyyy") </th>
                <th>@item.Codigo </th>
                <th>@item.Nombre @item.Apellido</th>
                <th>@item.Total</th>
                <th>@item.Descuento</th>
                <td>
                    <a href='@Url.Action("Detalle","Factura", new { facturaId = @item.FacturaId })' class="btn btn-success">Ver</a>
                </td>
            </tr>
        }
    </tbody>
</table>


