﻿@model WebApplicationSistemaCableInternet.Models.Servicio

@{
    ViewData["Title"] = "Crear";
}


<h4>Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <select class="form-control" id="PlanServicioId" name="PlanServicioId">
                <option>Seleccione un plan</option>
                @foreach (var item in Model.PlanesServicios)
                {
                    <option value="@item.PlanServicioId">@item.Descripcion</option>
                }
            </select>

            <select class="form-control" id="ClienteId" name="ClienteId">
                <option>Seleccione un cliente</option>
                @foreach (var item in Model.Clientes)
                {
                    <option value="@item.ClienteId">@item.Nombre @item.Apellido</option>
                }
            </select>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

