﻿@using WebApplicationSistemaCableInternet.Models

@{
    ViewData["Title"] = "Listado de Servicios";
}


@if (ViewData["Mensaje"] != null)
{
    <div class="alert alert-@ViewData["Clase"]" role="alert">
        @ViewData["Mensaje"];
    </div>
}


<h2>Lista de Servicios</h2>
<a href='@Url.Action("Crear","Servicio")' class="btn btn-primary">Nuevo</a>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Cliente</th>
            <th>Dirección</th>
            <th>Costo</th>
            <th>Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Servicio item in Model)
        {
            <tr>
                <th>@item.TipoServicio - @item.Descripcion </th>
                <th>@item.Nombre @item.Apellido</th>
                <th>@item.Direccion</th>
                <th>@item.Costo</th>
                <th>@item.Descuento</th>
                <td>
                    @*<a href='@Url.Action("Editar","Servicio", new { id = @item.ServicioId })' class="btn btn-warning">Editar</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick="CargarId(@item.ServicioId)">
                        Eliminar
                    </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    ¿Está seguro que desea eliminar el registro?
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Eliminar", "Servicio", FormMethod.Post))
                {
                    @Html.Hidden("ServicioId", "")

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input value="Eliminar" type="submit" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>


<script>
    function CargarId(id) {
        $('#ServicioId').val(id);
    }
</script>