﻿@model WebApplicationSistemaCableInternet.Models.Cliente

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

<h4>Actualizar</h4>
<hr />
<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
