﻿@using WebApplicationSistemaCableInternet.Models

@{
    ViewData["Title"] = "Listado de Clientes";
}


@if (ViewData["Mensaje"] != null)
{
    <div class="alert alert-@ViewData["Clase"]" role="alert">
        @ViewData["Mensaje"];
    </div>
}


<h2>Lista de clientes</h2>
<a href='@Url.Action("Crear","Cliente")' class="btn btn-primary">Nuevo Cliente</a>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cliente cliente in Model)
        {
            <tr>
                <th>@cliente.Apellido</th>
                <th>@cliente.Nombre</th>
                <th>@cliente.Direccion</th>
                <th>@cliente.Telefono</th>
                <th>@cliente.Correo</th>
                <td>
                    @*@Html.ActionLink("Detalle", "Detail", "Cliente", new { id = @cliente.ClienteId }, new { @class = "btn btn-info btn-sm" })*@
                    @*@Html.ActionLink("Editar", "Editar", "Cliente", new { id = @cliente.ClienteId }, new { @class = "btn btn-warning btn-sm" })*@
                    @*@Html.ActionLink("Eliminar", "Eliminar", "Cliente", new { id = @cliente.ClienteId }, new { @class = "btn btn-danger btn-sm" })*@
                    @*<a href='@Url.Action("Eliminar","Cliente")' class="btn btn-danger">Eliminar</a>*@

                    <a href='@Url.Action("Crear","Factura", new { clienteId = @cliente.ClienteId })' class="btn btn-primary">Pagar</a>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" onclick="CargarId(@cliente.ClienteId)">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    ¿Está seguro que desea eliminar el registro?
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Eliminar", "Cliente", FormMethod.Post))
                {
                    @Html.Hidden("idCliente", "")

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input value="Eliminar" type="submit" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>


<script>
    function CargarId(id) {
        $('#idCliente').val(id);
    }
</script>